{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width_device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Copatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}"
<body>
    <h1 class="ejemplo1">Te quiero Ikramita desde templates</h1>
    <!-- Anchors (links) -->
<a href="about.html" class="button">Learn More</a>
<a href="#features" class="button">View All Features</a>

<!-- Buttons (actions) -->
<button class="submit success button">Save</button>
<button type="button" class="alert button">Delete</button>
</body>
</html>
